<!DOCTYPE html>
<html>
    <head>
        <title>{{title}} | {{site.title}}</title>
        <link rel='stylesheet' href='//use.fontawesome.com/releases/v5.1.0/css/all.css' />
        <link rel='stylesheet' href='/css/style.css' />
    </head>
    <body>
        {{{body}}}
        {{accountId}}
        <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    </body>
</html>
